<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/login.css}">
<body>

<div class="login-container" >
    <img th:src="@{/img/logo.png}" style="width: 100px">
    <h1>COOKTIME</h1>
    <div class="login-buttons">
<!--        <a href="#" class="naver-button">네이버 로그인</a>-->
<!--        <a th:href="@{/oauth2/authorization/google}" class="google-button">구글 로그인</a>-->
        <a href="https://accounts.google.com/o/oauth2/v2/auth?response_type=code&client_id=595159133596-ibjnkksdef8bumsndm9vjn0cd4790jtr.apps.googleusercontent.com&scope=email%20profile&redirect_uri=http://ec2-43-202-30-201.ap-northeast-2.compute.amazonaws.com/api/v1/callback" class="google-button">구글 로그인(QA)(JWT토큰)</a>
    </div>
</div>

</body>
</html>
